# development dependencies
pip~=21.2.4
black~=21.7b0
cfn-lint~=0.53.1
flake8~=3.9.2
pylint~=2.9.6
yamllint~=1.26.2
toml>=0.10.2
mypy~=0.910
bandit~=1.7.0

# add lambda dependencies here to make them available in the virtual environment
boto3==1.18.24
crhelper==2.0.10
pandas~=1.3.2